h1 {
  margin-left: 2em;
}

.box-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.dot1 {
  color: white;
  animation-name: loadAnimation;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

.dot2 {
  color: white;
  animation-name: loadAnimation;
  animation-duration: 1s;
  animation-delay: .3s;
  animation-iteration-count: infinite;
}

.dot3 {
  color: white;
  animation-name: loadAnimation;
  animation-duration: 1s;
  animation-delay: .6s;
  animation-iteration-count: infinite;
}

@keyframes loadAnimation {
  from {
    color: white;
  }

  to {
    color: black;
  }
}

.gitBox {
  display: flex;
}

.pinkLink {
  cursor: pointer;
  color: magenta;
  text-decoration: none;
}

.pinkLink:hover {
  color: limegreen;
  text-decoration: underline;
}

.gitLink:hover {
  text-decoration: none;
}